# Ignore Vitis HLS project folders
fpga_hls/proj_median/
fpga_hls/vivado_project/

cpu_opencl/build

# Ignore log files
*.log
*.jou
*.str

# Ignore OS files
.DS_Store
Thumbs.db

*dfx_runtime.txt*

cpu
